body {
  background-color: #eaeaea;
}
header{
  background-color: #3c3c3c;
  height: 15vh;
}
main{
  background-color: white;
  margin:auto;
  width: 80%;
  height: 75vh;
}
footer{
  background-color: black;
  margin: auto;
  width: 80%;
  height: 50px;
}
